{
  "root": true,
  "extends": [
    "next"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "react",
    "react-hooks"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "JSX": true
  }
}
