@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  color: whitesmoke;
}

.container {
  margin: 20px auto;
  max-width: 100vh;
  max-height: 100vh;
  padding-left: 15px;
  padding-right: 15px;
}

.column {
  float: left;
  width: 100%;
}

h1 {
  font-size: 90px;
  font-weight: 600;
  color: #ffd;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Comic Sans", sans-serif;
}

.note::after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 480px) {
  .column {
    width: 100%;
  }
}
